* {
  box-sizing: border-box;
}

body {
  width: 600px;
  margin: auto;
  padding: 20px;
}

#tasks {
  margin-top: 40px;
}

#tasks div {
  border: 1px solid grey;
  padding: 10px;
  margin: 5px 0;
}

.completed {
  text-decoration: line-through;
}

#task-input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
}

button {
  float: right;
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  border-color: white;
}

input[type="checkbox"] {
  margin-right: 10px;
}
